$text-color: #ffffff;
$background-input-color: #ffffff;
$info-block-input-text-color: #c4c4c4;
$info-block-input-height: 35px;

.info-block {
    color: $text-color;
    display: flex;
    justify-content: space-between;
    background: $primary1;
    padding: 35px 40px;
    width: 540px;

    &__main-block{
        display: flex;
        flex-direction: column;
        margin-right: 65px;
    }

    &__image-block{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__image{}

    &__title{
        font-weight: bold;
        font-size: 1.28rem;
        line-height: 1.31rem;
    }

    &__subtitle{
        font-size: 1rem;
        line-height: 1.25rem;
    }

    &__input{
        border-radius: 30px;
        background: $background-input-color;
        height: $info-block-input-height;
        padding: 5px 25px;
        max-width: 225px;
        border: none;
        outline: none;
        color: $info-text-color;

        &::placeholder {
            color: $info-block-input-text-color;
        }
    }

    &__button{
        border-color: #ffffff;
        background: $primary1;
        color: $main-text-color;
        max-width: 177px;
        text-align: center;
    }

    & > * :not(:last-child) {
        margin-bottom: 25px;
    }
}