$footer-background: #ffffff;

.footer {
    background: $footer-background;

    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 37px 0;
    }

    &__social-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    &__location-text {
        font-size: 1rem;
        line-height: 1rem;
    }
}