.header-navigation {
    background: $primary3;

    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__item {
        list-style: none;
    }

        &__item:not(:last-child) {
            margin-right: 30px;
        }

    &__link {
        font-size: 1rem;
        line-height: 1rem;
        color: $link-text-color;

        &:hover {
            text-decoration: underline;
        }
    }

    &__wrapper {
        padding: 17px 0;
    }

}